/shelf/
/httpRequests/

.idea
.idea/*.xml
.idea/*.html
.idea/artifacts

/.gradle/

/build/*
!/build/libs/
/build/libs/*
!/build/libs/NICommands.txt
!/build/libs/*.jar

/test/
target
out
projects

*.iml